matplotlib                        3.9.2
matplotlib-inline                 0.1.6
seaborn                           0.13.2
pandas                            2.2.2
numpy                             1.26.4
numpydoc                          1.7.0
streamlit                         1.37.1
